.loginContainer {
  background-image: url("../images/BackgroundGradientBlue.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5% 5%;
  align-items: center;
}
.formBox {
  display: flex;
  align-items: center;
  height: 50%;
  padding: 5%;
}
.loginForm{
    display: flex;
    flex-direction: column; 
}

/*FORM CSS FROM WEB*/

.flip-container {
	perspective: 1000;
}
.flipper {
  padding: 30px;
  width: 300px;
  height:250px;
  position: relative;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

	
	transition: 0.6s;
	transform-style: preserve-3d;
    
      background: rgb(148 165 195 / 20%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(97, 138, 208, 0.3);
}

.front, .back {
  /*background-color: rgba(0,0,0,.3);*/
  position: absolute;
    padding:10px 30px;
  top: 0;
  left: 0;
  right: 0;
	
	backface-visibility: hidden;
}

.front{
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}
.flip{
		transform: rotateY(180deg);
}
input{
    width:100%;
    margin-bottom:15px;
    height:40px;
    box-sizing: border-box;
    padding:10px;
}

.title{
  text-align: center;
}
.flipbutton{
    color:#000000;
    text-decoration:none;
    text-align:left !important;
}

/*LOGIN BUTTON*/

.loginButton {
    align-items: center;
    background-image: linear-gradient(144deg,#055efd,#31bae9);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .loginButton:active,
  .loginButton:hover {
    outline: 0;
  }
  
  .loginButton span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .loginButton:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .loginButton {
      font-size: 24px;
      min-width: 196px;
    }
  }